@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:'Open Sans' ;
}

header{
    background: url(../img/hea.jpg);
    background-size: cover;
    background-position:center;
    height: 300px;
}
header h1{
    text-align: left;
    font-size: 35px;
    color: #fff;
    padding: 30px 0;
    padding-left: 40px;
}

.contenedor{
    justify-content: space-between;
    margin: auto;
    padding: 10px;
    max-width: 1200px;
    display: flex;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    margin: auto;
    max-width: 200px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}